{% extends "homepage.html" %}

{% load static %}
{% include "navbar.html" %}
{% block content %}
<head>
 <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<link rel="stylesheet" type="text/css" href="{% static 'css/final.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/recover.css' %}">

<!-- Bootstrap JS and Popper.+++++++++++++++++js (required for Bootstrap dropdowns) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>

<body>
 
  <div class="cover">
    <div class="content">
    <h1>It is time to recover...</h1>
   </div>
</div>


<!-- Scroll Down Indicator -->
<!-- Target Element for Scrolling -->
<div id="about">
<div>
 <section class="relax">
  <br><br>
  <h2> The Recover Zone</h2>
  <br><br>
  <h5> Mental recovery plays a pivotal role in our lives, providing a vital opportunity to rejuvenate our minds and restore balance. Embracing the process at our own pace empowers us to navigate life's challenges with resilience and self-compassion, nurturing our long-term mental well-being. </h5>
  <h5>
    Here, In the recover zone you can opt for the options which will be best and suitable for you to heal. </h5>
    <br>

<br><br>
<!--   <button type="button">Relax</button>
 
  <button type="button">Recover</button>

  <button type="button">Restart</button> 


  <br><br><br><br><br><br>
</section> 
</div>

<div class="special">
  <br><br><br><br><br><br>
  <h2> What makes Hiber-zone special?</h2>
  <br><br><br>
  <div class="nested-section">
    <h3> RELAX </h3>
   <!--  <img src="{% static 'images/content.png' %}" alt="Image 1"> 
    <h6>~ Browse Content ~</h6>
      <p> Take a breather, relax & browse content based on your prefernces.</p>  
      <br><br><br><br><br>
  </div>
  <div class="nested-section1">
    <h3> RECOVER </h3>
    <h6>~ Professional guidance ~</h6>
      <p> Explore and connect with professionals who are suitable & best for you.</p>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>

  <div class="nested-section2">
    <h3> RESTART </h3>
    <h6>~ Productivity & Efficiency ~</h6>
     <p> Create & mainatin a productive and efficient routine.</p>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="nested-section3" onclick="openChatbot()">
    <h3> PAL </h3>
    <h6>~ Perceptive accessible lad ~</h6>
    <p> Interact with our chatbot PAL to assess how you're feeling.</p>
  </div>
  
<div class="nested-section4">
<h3> JOURNAL </h3>
<h6> ~ Note down your feelings ~</h6>
<p> A place to store your thoughts, feelings and ideas, you can undertsand your mood patterns & behaviour.</p>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
</div>
 -->

</body>

</html>
{% endblock %}
{% include "footer.html" %}